@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: whitesmoke;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #242424;
}

main {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(0, 155, 155);
}

.table-header {
  text-align: center;
  font-weight: 900;
  font-size: 1.5rem;
  text-decoration: underline;
  margin-top: 30px;
}

table {
  margin-top: 20px;
  width: 400px;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 10px;
  border: 1px solid black;
}

button {
  background: rgb(0, 155, 155);
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
  margin-top: 0.9rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: hsla(180, 100%, 22%, 0.705);
  color: antiquewhite;
}

button:active {
  scale: 97%;
}